<div class="row p-3">
    <div class="col-8">
        <div class="card">
            <div class="card-heder bg-success">
                <div class="row">
                    <div class="col-6">
                        User List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary btn-sm">Add New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table>

                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-heder bg-success">
                <div class="row">
                    <div class="col-6">
                        New user
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-primary btn-sm">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table>

                </table>
            </div>
        </div>
    </div>
</div>